.banner-bg{
    background-image: url(../../../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.banner-text-area{
    padding: 5.2em 0;
}
.text-wrapper{
    margin-top: 15px;
    margin-left: 50px;
}
.discount-title{
    font-size: 36px;
    font-family: Roboto;
    font-weight: 500;
    color: #d0936a;
}
.discount-desc{
    text-align: justify;
    font-size: 17px;
    font-family:  Roboto;
    color: rgb(78, 77, 77);
}
.discount-button{
    background-color: #d0936a;
    color: #fff;
    padding: 10px 30px;
    border: none;
}
.discount-button:hover{
    background-color: #975e38;
}