.review-title{
    font-size: 36px;
    color: #404040;
    font-family: Roboto;
}
.review-desc{
    font-size: 18px;
    font-family:  Roboto;
    color: rgb(53, 52, 52);
}
.review-image{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.review-image img{
    border-radius: 50%;
}
.review-text{
    text-align: justify;
    font-size: 17px;
    font-family:  Roboto;
    color: rgb(53, 52, 52);
}